/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */
html, button, input, select, textarea { color: #222; }

body { font-size: 1.1em; line-height: 1.5em; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border-bottom: 1px dotted #aaa; border-top: none; margin: 10px 0; }

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
Author's custom styles
========================================================================== */
body { background: #c13833; margin: 0 30px 30px; font-family: PT Serif, Georgia, serif; -webkit-font-smoothing: antialiased; }

a { text-decoration: none; }

#wrap { width: 860px; margin: 0 auto; overflow: auto; background: url("../images/aside-background.jpg") white; background-position: left 160px; background-repeat: repeat-y; min-height: 800px; }

aside { float: left; }

aside img { display: block; margin: 0; padding: 0; }

nav { height: 118px; border-bottom: 2px solid #c13833; font-weight: bold; text-transform: uppercase; font-size: .8em; }

nav ul { margin: 66px 0 0; padding: 0; }

nav ul li { display: inline-block; margin-right: 18px; }

nav a { color: black; }

nav a:hover, nav li.current-menu-item a, nav li.current_page_parent a { color: #c13833; }

#content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#content { background: white; margin-left: 160px; padding: 40px 30px 30px; }

article { margin: 20px 0 0; font-size: .9em; line-height: 1.4em; }

article p { padding: 4px 0; display: block; margin: 0; }

article a { color: #c13833; font-weight: bold; }

article h1 { font-size: 1.15em; line-height: 1.3em; color: #c13833; margin: 40px 0 3px; -webkit-font-smoothing: antialiased; text-transform: uppercase; }

article h1:nth-child(1) { margin-top: 0; }

article h2 { font-size: 1.2em; color: #c13833; font-weight: normal; border-bottom: 1px dotted #bbb; clear: both; display: block; padding: 20px 0 3px; margin: 0 0 7px; }

article h3 { font-size: 1em; color: #000; border-bottom: 1px dotted #000; }

article blockquote { font-family: PT Serif, Georgia, serif; font-size: 1.3em; margin: 10px 0; padding: 0; color: #c13833; line-height: 1.3em; }

article .highlight { font-size: 1.35em; line-height: 1.3em; font-weight: bold; display: block; margin-bottom: 5px; }

article strong { color: #c13833; }

article img { margin: 8px 0; }

article ul { margin: 0; padding: 0; }

article ul li { margin: 14px 0; list-style: none; padding-left: 26px; }

article ul li:before { content: '\2014'; color: #c13833; font-weight: bold; position: absolute; margin-left: -26px; }

.entry-meta { font-size: .8em; margin: 0; padding: 0; }

.entry-header { margin-bottom: 20px; }

.read-more { margin-bottom: 30px; display: block; font-weight: normal; text-transform: uppercase; font-size: .8em; }

.read-more:after { content: "\279D"; margin-left: 5px; }

.team { display: block; overflow: auto; }

.team dt, .team dd { float: left; display: inline-block; }

.team dd { margin-left: 150px; }

.team dt { width: 130px; }

.gallery img { border: none; }

.alignleft { float: left; margin: 0px 15px 10px 0; }

.post-edit-link { position: fixed; top: 91%; left: 95%; }

/* ==========================================================================
Media Queries
========================================================================== */
/* ==========================================================================
Helper classes
========================================================================== */
.ir { background-color: transparent; border: 0; overflow: hidden; text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

/* ==========================================================================
Print styles
========================================================================== */
@media print { * { background: transparent !important; color: #000 !important; /* Black prints faster:h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* Don't show links for images,or javascript/internal links */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; /* h5bp.com/t */ }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/* Magnific Popup CSS */
.mfp-bg { top: 0; left: 0; width: 100%; height: 100%; z-index: 1042; overflow: hidden; position: fixed; background: #000; opacity: 0.8; filter: alpha(opacity=80); }

.mfp-wrap { top: 0; left: 0; width: 100%; height: 100%; z-index: 1043; position: fixed; outline: none !important; -webkit-backface-visibility: hidden; }

.mfp-container { text-align: center; position: absolute; width: 100%; height: 100%; left: 0; top: 0; padding: 0 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.mfp-container:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

.mfp-align-top .mfp-container:before { display: none; }

.mfp-content { position: relative; display: inline-block; vertical-align: middle; margin: 0 auto; text-align: left; z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content { width: 100%; cursor: auto; }

.mfp-ajax-cur { cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: -moz-zoom-out; cursor: -webkit-zoom-out; cursor: zoom-out; }

.mfp-zoom { cursor: pointer; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in; }

.mfp-auto-cursor .mfp-content { cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter { -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.mfp-loading.mfp-figure { display: none; }

.mfp-hide { display: none !important; }

.mfp-preloader { color: #cccccc; position: absolute; top: 50%; width: auto; text-align: center; margin-top: -0.8em; left: 8px; right: 8px; z-index: 1044; }

.mfp-preloader a { color: #cccccc; }

.mfp-preloader a:hover { color: white; }

.mfp-s-ready .mfp-preloader { display: none; }

.mfp-s-error .mfp-content { display: none; }

button.mfp-close, button.mfp-arrow { overflow: visible; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; display: block; outline: none; padding: 0; z-index: 1046; -webkit-box-shadow: none; box-shadow: none; }

button::-moz-focus-inner { padding: 0; border: 0; }

.mfp-close { width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0; top: 0; text-decoration: none; text-align: center; opacity: 0.65; filter: alpha(opacity=65); padding: 0 0 18px 10px; color: white; font-style: normal; font-size: 28px; font-family: Arial,Baskerville,monospace; }

.mfp-close:hover, .mfp-close:focus { opacity: 1; filter: alpha(opacity=100); }

.mfp-close:active { top: 1px; }

.mfp-close-btn-in .mfp-close { color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close { color: white; right: -6px; text-align: right; padding-right: 6px; width: 100%; }

.mfp-counter { position: absolute; top: 0; right: 0; color: #999; font-size: 12px; line-height: 18px; }

.mfp-arrow { position: absolute; opacity: 0.65; filter: alpha(opacity=65); margin: 0; top: 50%; margin-top: -55px; padding: 0; width: 90px; height: 110px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active { margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus { opacity: 1; filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a { content: ''; display: block; width: 0; height: 0; position: absolute; left: 0; top: 0; margin-top: 35px; margin-left: 35px; border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a { border-top-width: 13px; border-bottom-width: 13px; top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b { border-top-width: 21px; border-bottom-width: 21px; }

.mfp-arrow-left { left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a { border-right: 17px solid #c2986d; margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b { margin-left: 25px; border-right: 27px solid #c2986d; }

.mfp-arrow-right { right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a { border-left: 17px solid #c2986d; margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b { border-left: 27px solid #c2986d; }

.mfp-iframe-holder { padding-top: 40px; padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content { line-height: 0; width: 100%; max-width: 900px; }

.mfp-iframe-holder .mfp-close { top: -40px; }

.mfp-iframe-scaler { width: 100%; height: 0; overflow: hidden; padding-top: 56.25%; }

.mfp-iframe-scaler iframe { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: black; }

/* Main image in popup */
img.mfp-img { width: auto; max-width: 100%; height: auto; display: block; line-height: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 40px 0 40px; margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure { line-height: 0; }

.mfp-figure:after { content: ''; position: absolute; left: 0; top: 40px; bottom: 40px; display: block; right: 0; width: auto; height: auto; z-index: -1; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #444444; }

.mfp-figure small { color: #bdbdbd; display: block; font-size: 12px; line-height: 14px; }

.mfp-figure figure { margin: 0; }

.mfp-bottom-bar { margin-top: -31px; position: absolute; top: 100%; left: 0; width: 100%; cursor: auto; }

.mfp-title { text-align: left; line-height: 18px; color: #603813; word-wrap: break-word; padding-right: 36px; }

.mfp-image-holder .mfp-content { max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure { cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { /**
* Remove all paddings around the image on small screen
*/
  .mfp-img-mobile .mfp-image-holder { padding-left: 0; padding-right: 0; }
  .mfp-img-mobile img.mfp-img { padding: 0; }
  .mfp-img-mobile .mfp-figure:after { top: 0; bottom: 0; }
  .mfp-img-mobile .mfp-figure small { display: inline; margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar { background: rgba(0, 0, 0, 0.6); bottom: 0; margin: 0; top: auto; padding: 3px 5px; position: fixed; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty { padding: 0; }
  .mfp-img-mobile .mfp-counter { right: 5px; top: 3px; }
  .mfp-img-mobile .mfp-close { top: 0; right: 0; width: 35px; height: 35px; line-height: 35px; background: rgba(0, 0, 0, 0.6); position: fixed; text-align: center; padding: 0; } }
@media all and (max-width: 900px) { .mfp-arrow { -webkit-transform: scale(0.75); transform: scale(0.75); }
  .mfp-arrow-left { -webkit-transform-origin: 0; transform-origin: 0; }
  .mfp-arrow-right { -webkit-transform-origin: 100%; transform-origin: 100%; }
  .mfp-container { padding-left: 6px; padding-right: 6px; } }
.mfp-ie7 .mfp-img { padding: 0; }

.mfp-ie7 .mfp-bottom-bar { width: 600px; left: 50%; margin-left: -300px; margin-top: 5px; padding-bottom: 5px; }

.mfp-ie7 .mfp-container { padding: 0; }

.mfp-ie7 .mfp-content { padding-top: 44px; }

.mfp-ie7 .mfp-close { top: 0; right: 0; padding-top: 0; }
