$red:#c13833;
$PTSerif:PT Serif,Georgia, serif;

/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */
html,
button,
input,
select,
textarea{color:#222;}
body{font-size:1.1em;line-height:1.5em;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
hr{display:block;height:1px;border-bottom: 1px dotted #aaa;border-top: none;margin: 10px 0;}
img{vertical-align:middle;border: none;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
/* ==========================================================================
Author's custom styles
========================================================================== */
body {background: $red;margin: 0 30px 30px;font-family: $PTSerif;-webkit-font-smoothing:antialiased;}
a {text-decoration: none;}
#wrap {width: 860px; margin: 0 auto;overflow: auto;background: url("../images/aside-background.jpg") #fff;background-position: left 160px;background-repeat: repeat-y;min-height: 800px}
aside {float: left;}
aside img {display: block;margin: 0;padding: 0}
nav {height: 118px;border-bottom: 2px solid $red;font-weight: bold;text-transform: uppercase;font-size: .8em}
nav ul {margin: 66px 0 0;padding: 0}
nav ul li {display: inline-block;margin-right: 18px;}
nav a {color:#000 }
nav a:hover, nav li.current-menu-item a, nav li.current_page_parent a{color: $red}
#content {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#content {background: white;margin-left: 160px;padding: 40px 30px 30px;}

article {margin: 20px 0 0; font-size: .9em;line-height: 1.4em}
article p {padding: 4px 0;display: block;margin: 0}
article a {color:$red; font-weight: bold; }
article h1 {font-size: 1.15em;line-height: 1.3em; color:$red;margin: 40px 0 3px;-webkit-font-smoothing:antialiased;text-transform: uppercase; }
article h1:nth-child(1){margin-top: 0}
article h2{font-size: 1.2em;color:$red;font-weight: normal;border-bottom: 1px dotted #bbb; clear: both;display: block;padding: 20px 0 3px;margin: 0 0 7px}
article h3 {font-size: 1em; color:#000;border-bottom: 1px dotted #000;  }
article blockquote {font-family: $PTSerif;font-size: 1.3em;margin: 10px 0;padding: 0;color: $red;line-height: 1.3em}
article .highlight {font-size: 1.35em;line-height: 1.3em;font-weight: bold;display: block;margin-bottom: 5px}
article strong {color: $red}
article img {margin: 8px 0;}
article ul {margin: 0;padding: 0}
article ul li {margin: 14px 0;list-style: none; padding-left: 26px;}
article ul li:before {content: '\2014';color: $red;font-weight: bold;position: absolute;margin-left: -26px;}

.entry-meta {font-size: .8em;margin: 0;padding: 0;}
.entry-header {margin-bottom: 20px;}
.more {margin-bottom: 30px;display: block;font-weight: normal;text-transform: uppercase;font-size: .8em}
.forward:after {content: "\21E2";margin-left: 5px;}
.back:before {content: "\21E0";margin-right: 5px;}

.team {display: block;overflow: auto;}
.team h2, .team p {margin-left: 150px;}
.team img {margin-left: -150px;position: relative;}

.gallery {margin-top: 8px}
.gallery img {margin: 4px 0;}
.gallery dl {float: left;padding-right: 5px;margin: 0}


.alignleft {float: left;margin: 0px 15px 10px 0}

.post-edit-link {position: fixed;top: 91%;left: 95%;}
/* ==========================================================================
Media Queries
========================================================================== */
@media only screen and (min-width:35em){}
@media print,
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi){}
/* ==========================================================================
Helper classes
========================================================================== */
.ir{background-color:transparent;border:0;overflow:hidden;text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
/* ==========================================================================
Print styles
========================================================================== */
@media print{*{background:transparent !important;color:#000 !important;/* Black prints faster:h5bp.com/s */
box-shadow:none !important;text-shadow:none !important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
/*
* Don't show links for images,or javascript/internal links
*/
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after{content:"";}
pre,
blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;/* h5bp.com/t */}
tr,
img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,
h2,
h3{orphans:3;widows:3;}
h2,
h3{page-break-after:avoid;}
}

@import 'magnific-popup';
